{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <!-- <link rel="icon" href="/shop/static/shop/icons8_apartment.ico" /> -->

    <title>{% block title %} {% endblock %}</title>
    <style>
        body {
            background-color: rgb(165, 211, 253);
        }

        #lg {
            font-size: 35px;
            font-weight: 600;
            color: White;
        }

        .d {
            color: white;
        }

        a {
            text-decoration: none;
            color: white;

        }

        .btnText:hover {
            color: #fda47b;
        }

        #lg:hover {
            color: rgb(144, 255, 100);
        }

        .navbar-toggler {
            background-color: rgb(149, 243, 255);
        }

        .navbar-toggler-icon {

            background-color: rgb(221, 255, 140);
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-warning bg-dark">
        <a id="lg" class="navbar-brand" href="http://127.0.0.1:8000">eCom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btnText" href="http://127.0.0.1:8000">
                        Home
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btnText" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" href="http://127.0.0.1:8000/pre/">Products</a> -->
                        <a class="dropdown-item btnText d" href="http://127.0.0.1:8000/tra/">Delivery Status</a>
                        <a href="http://127.0.0.1:8000/buynow/ " class="dropdown-item btnText d"> BuyNow </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btnText d" href="http://127.0.0.1:8000/con/">Contact Us</a>
                        <a class="dropdown-item btnText d" href="http://127.0.0.1:8000/abt/">About</a>
                        <a class="dropdown-item btnText d" href="http://127.0.0.1:8000/admin/" target="blank">Admin</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btnText" href="{% static 'shop/intro.txt' %}">Terms & conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btnText" href="">Cart(<span id="crt">null</span>) </a>
                </li>
                <li class="nav-item">
                    <a id="cCart" class="nav-link btnText" href="">ClearCart</a>
                </li>
            </ul>
            <form method="GET" action="/search/" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search"
                    name="queryset" id="queryset" required />
                <input class="form-control mr-2 col-sm-3" type="search" placeholder="By Price" aria-label="Search"
                    name="querysetofprice" id="querysetofprice" />
                <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit" id="searchbtn">
                    Search
                </button>
                <a class="nav-link btnText" href="">Profile</a>
            </form>
        </div>
    </nav>


    {% block content %} {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $("#cCart").click(function () {
            localStorage.clear();
        });
    </script>
    {% block js %}{% endblock %}

</body>

</html>