{% extends "shop/basic.html" %}
{% load static %}

<!--  -->
{% block title %}eCom{% endblock %}


{% block content %}
<link rel="icon" href="/media/shop/img/home.png" />
<link rel="stylesheet" href="{% static '/shop/index.css' %}">
<!-- <style>
  body {
    background: rgb(165, 211, 253);
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 30rem;
    height: 200px;
  }

  #demo {
    margin-top: 10px;
  }

  .col-sm-3 {
    display: inline-block;
  }
</style> -->

<!-- <div class="container">
  <h1>Product</h1>
  <hr />
  {% for pd in products %} {{pd.id}}
  <br /><br />product_name={{pd.productName}} <br /><br />
  description={{pd.productDescription}} <br /><br />
  price={{pd.price}} {{pd.currency}} <br /><br />made_date={{pd.madeDate}}
  <br /><br />expire_date={{pd.expireDate}}<br /><br />Status={{pd.status_of_product}}<br /><br />image={{pd.Image}}<br /><br />
  <hr />
  {% endfor %}
</div> -->
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul> -->

  <!--slide show starts-->
  <div class="container carousel-inner no-padding">
    <!--steps in row1-->
    <div class="carousel-item  active">
      <!-- <div class="col-xs-3 col-sm-3 col-md-3"> -->
      <!--items-->
      <!-- <div id="r0" class="row">
        <div id="c" class="col-xs-3 col-sm-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="/media/{{products.0.Image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{products.0.productName}}</h5>
              <p class="card-text">{{products.0.productDescription}} <br><br> {{products.0.price}}
                {{products.0.currency}}
              </p>
              <button id="prd_{{products.0.id}}" class="cart btn btn-danger">Add to cart</button>
              <button id="details" class="details btn btn-success">Details</button>
            </div>
          </div>
        </div> -->
      <div id="r0" class="row">
        {% for i in products %}

        <div id="c" class="col-xs-3 col-sm-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="/media/{{i.Image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.productName}}</h5>
              <p class="card-text">{{i.productDescription}}<br><br> {{i.price}}
                {{i.currency}}</p>
              <button id="prd_{{i.id}}" class="cart btn btn-danger">Add to cart</button>
              <button id="details" class="details btn btn-success">Details</button>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div>
    </div>
    <div class="carousel-item">
      <div id="r1" class="row">
        <!-- <div id="c" class="col-xs-3 col-sm-3 col-md-4"> -->
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- <div id="c" class="col-xs-3 col-sm-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/400x200/?shirt,cloth" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
          </div>
        </div>
      </div> -->
  <!-- </div> -->

  <!--row2-->
  <!-- <div class="carousel-item">

      <div class="row">
        <div id="c" class="col-xs-3 col-sm-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/400x200/?sanitizer,handwash" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
          </div>
        </div>

        <br>

        <div id="c" class="col-xs-3 col-sm-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/400x200/?tablet,medicine" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
          </div>
        </div>

        <br>

        <div id="c" class="col-xs-3 col-sm-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/400x200/?prescription,thermometer" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->



</div>

<!--left & right controller-->
<a href="#demo" class="carousel-control-prev" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a href="#demo" class="carousel-control-next" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
{% endblock %}

{% block js %}
<script>
  console.log('statrted working');
  $(".card-text").hide();
  $(".details").click(function () {
    $(".card-text").show(2000);
  });


  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
  }

  $('.cart').click(function () {
    var prd_id = this.id.toString();
    //console.log("you clicked on " + prd_id);
    if (cart[prd_id] == null) {
      cart[prd_id] = 1;
    }
    else {
      cart[prd_id] = cart[prd_id] + 1;
    }//this will allow to see how many cart you clicked & it will endup with session reload
    console.log(cart);

    //now lets update the cart as it clicked
    localStorage.setItem("cart", JSON.stringify(cart));
  });
</script>
{% endblock %}