{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products</title>
  </head>
  <body>
    <h1>Product</h1>
    <hr />
    {% for pd in products %} {{pd.id}}
    <br /><br />product_name={{pd.productName}} <br /><br />
    description={{pd.productDescription}} <br /><br />
    price={{pd.price}} {{pd.currency}} <br /><br />made_date={{pd.madeDate}}
    <br /><br />expire_date={{pd.expireDate}}<br /><br />Status={{pd.status_of_product}}<br /><br />image={{pd.Image}}<br /><br />
    <hr />
    {% endfor %}
  </body>
</html>
